<div class="cookie">
  <div class="cont">
    <div class="icon">
      <img src="/img/cookie.svg" alt="cookie-icon">
    </div>
    <div class="message">Sitemizden en iyi şekilde faydalanabilmeniz için çerezler kullanılmaktadır. Bu siteye giriş
      yaparak çerez kullanımını kabul etmiş sayılıyorsunuz. <a href="https://www.kaspersky.com.tr/resource-center/definitions/cookies">Daha fazla bilgi</a></div>

    <a class="cookie-btn" aria-label="cookie button" role="button">Tamam</a>

  </div>
</div>