<label class="mode-control">
  <input type="checkbox" id="mode-btn">
  <span><i class="fas fa-moon"></i></span>
  <span><i class="fas fa-sun"></i></span>
</label>
<% if(locals.u1){%>
  <a class="explore" href="/explore" title="Explore tha WORLD!"><i class="far fa-compass"></i></a>
  <div class="notif" title="Notifications">
    <i class="far fa-bell bold"></i>
    <div class="ncount"><%= (locals.ncount) ? ncount : '' %></div>

  </div>
  <div class="notifications">
    <div class="notifloadingcont">
      <img class="notifloading" src="/img/loading.gif" alt="loadinggif">
    </div>
    <%- (locals.ncount) ? `<div class="markasread" title="Mark all notifications as read"><i
        class="fas fa-check-double"></i>Mark all as read</div>`: '' %>
      <ul>
      </ul>
  </div>
  <a class="logout" href="/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
  <div class="profile">
    <a href="/<%= u1 %>"><img src="/img/profile1.jpg" alt="right profile"></a>
  </div>
  <% }else{ %>
    <a href="/login" title="Login">
      Login
    </a>
    <% }%>