<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="KiRRxA551B0Uj9qczyJk5lMrc8oBy81gxr_elklHGb8"
    />
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/popup.css" />
    <%- include('inc/metatag.ejs') %>

    <title>Login</title>
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        align-items: center;
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .container > * {
        margin-bottom: 10px;
      }
    </style>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="container">
      <div class="wrapper">
        <form id="loginform" class="form-signin" onsubmit="return false">
          <h2 class="form-signin-heading">Please login</h2>
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            placeholder="Enter Username"
            required=""
            autofocus=""
          />
          <input
            type="password"
            id="userpass"
            class="form-control"
            name="userpass"
            placeholder="Enter Password"
            required=""
          />
          <!-- <label class="checkbox">
            <input
              type="checkbox"
              value="remember-me"
              id="rememberMe"
              name="rememberMe"
            />
            Remember me
          </label> -->
          <button
            class="btn btn-lg btn-primary btn-block"
            type="submit"
            id="loginbtn"
          >
            Login
          </button>
        </form>
      </div>
    </div>

    <!-- <div class="container ">
            <div class="form-group">
                <button type="button" class="btn btn-dark" onclick="window.location.href='/'">Home</button>
            </div>
            <h1>Login</h1>
            <div class="form-group">
                <input required type="text" class="form-control"  value="" placeholder="username"
                    name="username">
            </div>
            <div class="form-group">
                <input required type="password" class="form-control"  value="" placeholder="password"
                    name="userpass">
            </div>
            <div class="form-group">
                Still you are not member? <a href="/signup">Let's do this</a>
            </div>
            <button type="submit" class="btn btn-primary" >Login</button>
        </form>
    </div> -->
    <%- include('inc/popup.ejs') %>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/fontawesome.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/loginevents.js"></script>
  </body>
</html>
